@charset "utf-8";



/* CSS file for Project
   Benjamin Ransom
   CIS 155
   V1 2019.04.23
   V2 2019.05.07
   V3 2019.05.21
   V4 2019.06.11
   flex.css
*/

/*Structure style*/

.flex-container {
	display: flex;
	flex-direction: column;
	align-content: center;
}

 div {
	-webkit-columns: 100px 3;
	-moz-columns: 100px 3;
	columns: 100px 3;
}

/*M5LO5 Demonstrate the use of flexboxes on a web page (CSS document where you use flexboxes; explain their impact 
on the page's layout; this can be a new page or a redo of an existing page) I put a flex box on this page to keep it the way it was.
M5LO7 Demonstrate use of properties of flexbox containers (CSS, document what flexbox container properties you 
use and their impacts, for one CSS selector using them) I used the column property to keep them stacked.
M5LO6 Demonstrate use of properties of flexbox items (CSS, document what flexbox item properties you use and 
their impacts, for one CSS selector using them)I used the align-content center to keep everything in order and neat.*/
